<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <Link rel="stylesheet" type="text/css" href="../static/style/style.css" />
</head>
<body>
<DIV>
    <!-- 导航 -->
    <br />
    <DIV>
        &gt;&gt;
        <B><a href="index.html">论坛首页</a> </B>&gt;&gt;
        <B><a href="list.html">灌水乐园</a> </B>
    </DIV>
    <br />
    <!--      新帖        -->
    <DIV>
        <A href="reply.html"><IMG src="static/image/reply.gif"
                                  name="td_reply" border="0" id=td_reply> </A>&nbsp;
        <A href="/post"><IMG src="static/image/post.gif" name="td_post"
                             border="0" id=td_post > </A>
        <!--         翻 页         -->
        <DIV>
            <a href="list.html">上一页</a>|
            <a href="list.html">下一页</a>
        </DIV>
        <!--      本页主题的标题        -->
        <DIV>
            <TABLE cellSpacing="0" cellPadding="0" width="100%">
                <TR>
                    <TH class="h">
                        本页主题: 灌水
                    </TH>
                </TR>
                <TR class="tr2">
                    <TD>
                        &nbsp;
                    </TD>
                </TR>
            </TABLE>
        </DIV>

        <!--      主题        -->

        <DIV class="t">
            <TABLE style="BORDER-TOP-WIDTH: 0px; TABLE-LAYOUT: fixed"
                   cellSpacing="0" cellPadding="0" width="100%">
                <TR class="tr1">
                    <TH style="WIDTH: 20%">
                        <B>t</B>
                        <BR />
                        <img src="static/image/head/2.gif" />
                        <BR />
                        注册:2007-07-27
                        <BR />
                    </TH>
                    <TH>
                        <H4>
                            灌水
                        </H4>
                        <DIV>
                            rt
                        </DIV>
                        <DIV class="tipad gray">
                            发表：[2007-07-30 08:37] &nbsp; 最后修改:[2007-07-30 08:37]
                        </DIV>
                    </TH>
                </TR>
            </TABLE>
        </DIV>

        <!--      回复        -->

        <DIV class="t">
            <TABLE style="BORDER-TOP-WIDTH: 0px; TABLE-LAYOUT: fixed"
                   cellSpacing="0" cellPadding="0" width="100%">
                <TR class="tr1">
                    <TH style="WIDTH: 20%">
                        <B>t</B>
                        <BR />
                        <BR />
                        <img src="static/image/head/2.gif" />
                        <BR />
                        注册:2007-07-27
                        <BR />
                    </TH>
                    <TH>
                        <H4>
                            继续灌
                        </H4>
                        <DIV>
                            继续灌
                        </DIV>
                        <DIV class="tipad gray">
                            发表：[2007-07-30 10:32] &nbsp; 最后修改:[2007-07-30 08:37]
                            <A href="manage/doDeleteReply.html">[删除]</A>
                            <A href="update.html">[修改]</A>
                        </DIV>
                    </TH>
                </TR>
            </TABLE>
        </DIV>

        <DIV class="t">
            <TABLE style="BORDER-TOP-WIDTH: 0px; TABLE-LAYOUT: fixed"
                   cellSpacing="0" cellPadding="0" width="100%">
                <TR class="tr1">
                    <TH style="WIDTH: 20%">
                        <B>t</B>
                        <BR />
                        <BR />
                        <img src="static/image/head/2.gif" />
                        <BR />
                        注册:2007-07-27
                        <BR />
                    </TH>
                    <TH>
                        <H4>
                            继续灌
                        </H4>
                        <DIV>
                            板凳
                        </DIV>
                        <DIV class="tipad gray">
                            发表：[2007-07-30 10:32] &nbsp; 最后修改:[2007-07-30 08:37]
                            <A href="manage/doDeleteReply.html">[删除]</A>
                            <A href="update.html">[修改]</A>
                        </DIV>
                    </TH>
                </TR>
            </TABLE>
        </DIV>
    </DIV>
</DIV>
</body>
</html>